.container{
    width: 93vw;
    height: 93vh;
    display : flex ;
    flex-direction : row ;
    justify-content : space-around ;
    align-items: center;
    margin-left: 4%;
  }
  
  .ble-btn{
    top: 20px;
    left: 10px;
    position: absolute;
    width: auto;
    height: 30px;
    cursor: pointer;
  }