.container{
  width: auto;
  height: 100%;
}
.chart{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 450px;
  width: auto;
  padding: 220px 100px;
}

.navb{
  position: fixed;
  top:0px;
  display: flex;
  height: 75px;
  width: 100%;
  justify-items: flex-start;
}
.ble-btn{
  padding-top: 10px;
  height: 50px;
  width: auto;
  cursor: pointer;
}
